<h1>Strava Activities</h1>

<ul>

<% @runs.each do |run| %>
	<a><li id="<%=run['id']%>" class="runIds"> 
		 Run Name: <%=run["name"]%><br>Date of Run: <%=run["start_date"]%></li></a>
	<br>
	<% end %>
</ul>

<div class="instagram_images">

</div>

